version: '3.8'
services:
  frontend:
    build:
      context: ./client
    ports:
      - "4173:4173"
    depends_on:
      - backend
  backend:
    build:
      context: ./server
    ports:
      - "4000:4000"